@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Roboto";
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

.markdown h3 {
  @apply border-yellow-300 border-l-4 text-2xl pl-2 mt-5 mb-1;
}

.markdown h4 {
  @apply lg:w-1/2 sm:w-full border-yellow-300 border-l-4 border-b-4 py-1 text-base pl-2 mt-5 mb-1;
}

.markdown ui {
  @apply mt-0;
}

.markdown ul {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8; /*線の外側*/
  border: dashed 2px #ffb03f; /*破線*/
  border-radius: 9px;
  margin-left: 10px; /*はみ出ないように調整*/
  margin-right: 10px; /*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
}

.markdown li {
  position: relative;
  padding: 0 0 0 20px;
  margin: 7px 0 7px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  /* border-bottom: dashed 1px #385cc1; */
}
.markdown li:before {
  counter-increment: list;
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #f18b0c;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

pre[class*="language-"] {
  border-radius: 10px;
}
